<!-- Wrapper for slides -->
<div class="carousel-inner">
  <div class="item">
    <% @photos_20.each_slice(5) do |photos| %>
      <div class="row fivecolumns">
        <% photos.each do |photo| %>
          <div class="span2">
            <a href="<%= photo["link"] %>" class="thumbnail"><img src="<%= photo['images']['thumbnail']['url'] %>" target="_blank" /></a>
  <!--             <div class="carousel-caption">
            </div> -->
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Controls -->
<!-- <a class="left carousel-control" href="#carousel-photo" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-photo" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a> -->

    <!--             <span class="photoCommentHeart carousel-caption">
                <i class="fa fa-heart youtube-red" style="font-weight:bold">&nbsp;</i><= photo['likes']['count'] %>
                <i class="fa fa-comment twitter-blue photo-caption" style="font-weight:bold"></i>&nbsp;<= photo['comments']['count'] %>
              </span> -->