<!-- Display rss news of ClapPaws -->
<div class="panel panel-success news-panel">
	<div class="panel-title news-title">ClapPaws News</div>
	<div class="panel-body news-body">
		<div id="news_div">
			<div id="news_content">
				<% if @news.nil? %>
					<p>No any ClapPaws news available</p>
				<% else %>
					<% @news.each do |item| %>
						<div class="newsDIV">
							<span class="news_title"><%= raw item["name"] %></span>&nbsp;
							(<span class="news_date"><%= DateTime.parse(item["dateLastCrawled"]).strftime("%a, %b %d, %Y %H:%M") %>
							</span>)&nbsp;<span class="news_url"><a href="<%= item["url"] %>" target="_blank">read more >></a>
							</span>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>