<!-- Display rss news of Roaming Rover -->
<div class="panel panel-success news-panel">
	<div class="panel-title news-title">Roaming Rover News</div>
	<div class="panel-body news-body">
		<div>
			<iframe id="NewsWin" seamless src="news.html.erb" height="135" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" style="display: block; margin: 0 auto; padding: 0; border: #000000 1px solid;" name="news"></iframe>
		</div>
	</div>
</div>