<%# add navigation links to this file %>
<li class="iconStyle"><a href="https://www.youtube.com/channel/UCLziSc2WaErP4yaylwnp-Zw/" target="_blank"><i class="fa fa-youtube fa-lg youtube-red"></i></a></li>
<li class="iconStyle"><a href="https://www.facebook.com/roamingroverdog" target="_blank"><i class="fa fa-facebook fa-lg facebook-blue" target="_blank"></i></a></li>  
<li class="iconStyle"><a href="https://plus.google.com/105209370792533980020/posts" target="_blank"><i class="fa fa-google-plus fa-lg googleplus-red"></i></a></li>
<li class="iconStyle"><a href="https://twitter.com/roamingroverdog" target="_blank"><i class="fa fa-twitter fa-lg twitter-blue"></i></a></li>
<li class="iconStyle"><a href="https://www.pinterest.com/roamingrover/" target="_blank"><i class="fa fa-pinterest fa-lg pinterest-red"></i></a></li>
<li class="instagram-blue">
        <a href="https://instagram.com/clappaws" class="ig-b- ig-b-16" target="_blank">
                <img src="//badges.instagram.com/static/images/ig-badge-16.png" alt="Instagram" />
        </a>
<li>
<% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'logout' %>
<% end %>
</li>
