<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= content_for?(:title) ? yield(:title) : "Instagram App" %></title>
      <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Instagram App' %>">
      <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

<!-- bootswatch spacelab themes, replace default twitter bootstrap.css
  -- bxslider is a plugin for carousel, replace twitter carousel
-->
      <%= stylesheet_link_tag "bxslider", "data-turbolinks-track" => true %>
      <link rel="stylesheet" type="text/css" href="assets/stylesheets/photostreams.css">

      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "bxslider", "data-turbolinks-track" => true %>

      <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
        <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
